@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2");
  }

  @font-face {
    font-family: "neue";
    src: url("../public/fonts/NeueMontreal-Regular.6a837091.woff2") format("woff2");
  }
}


@theme {
  --font-satoshi: "Satoshi", sans-serif;
}

@theme {
  --font-neue: "neue", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
